h1,
h2,
h3 {
  color: #f49339 !important;
  text-transform: none !important;
  font-family: "League Gothic", Impact, sans-serif;
}

table {
  width: 100%;
}

img {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

img[alt="logo-pap"] {
  width: 400px;
}

img[alt="floss"] {
  width: 500px;
}

img[alt="memefloss"] {
  width: 400px;
}

img[alt="share"] {
  height: 650px;
}

.small-text {
  font-size: 0.5em;
}

.text-dark-bg {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-clear-bk {
  color: "#2A2A2A";
  background-color: "#F2F3EE";
  font-size: 0.9em;
  font-family: "Monaco", sans-serif;
}

.text-alt {
  color: #f49339;
}
